---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Tail from "@/components/sections/Tail.astro";
import KoFi from "@/components/sections/KoFi.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`${name} Portfolio - ${label}`}>
	<main class="relative grid max-w-7xl gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-0 print:p-0">
		<div class="space-y-6 md:col-span-2 print:col-span-1 print:flex print:flex-col print:gap-1 print:space-y-0">
			<Hero />
			<About />
			<KoFi />
			<ThemeSwitch />
		</div>
		<div class="space-y-12 md:col-span-4 print:col-span-1 print:flex print:flex-col print:gap-1 print:space-y-0">
			<Experience />
			<Projects />
			<Skills />
			<Education className="order-first print:order-none" />
		</div>
		<Tail />
	</main>

	<KeyboardManager />
</Layout>

<style>
	@page {
		size: A4;
		margin: 0.8cm 1.4cm 1.8cm 1.4cm;
	}
	main {
		margin: auto;
		width: 100%;
	}
</style>
