---
const { className, title } = Astro.props;
const sectionId = title ? title.toLowerCase().replace(/\s+/g, "-") : undefined;
---

<section
	class:list={["flex flex-col gap-4 print:gap-1 print:mt-2", className]}
	aria-labelledby={sectionId}
>
	{
		title && (
			<h3
				id={sectionId}
				class="relative flex w-full items-center gap-3 pb-4 text-3xl print:gap-1 print:pb-1 print:text-[14pt] print:font-bold print:text-[#333] print:border-b print:border-[#999]"
			>
				{title}
			</h3>
		)
	}
	<slot />
</section>
